---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Mensaje from '../components/Mensaje.astro';
import Servicios from '../components/Servicios.astro';
import Experiencia from '../components/Experiencia.astro';
import GaleriaInstalaciones from '../components/GaleriaInstalaciones.astro';
import Consultorio from '../components/Consultorio.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dr. Luis Enrique | Traumatólogo y Ortopedísta Especialista en Cadera y Fracturas">
  <Header />
  
  <main>
    <Hero />
    <Mensaje />
    <Servicios />
    <Experiencia />
    <GaleriaInstalaciones />
    <Consultorio />
  </main>

  <Footer />
</Layout>